<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">
  <div class="row" style="margin-top:10rem;">
    <div class="col-lg-8 col-xl-6 mx-auto" *ngIf="!success">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
           <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <form [formGroup]="emailForm" (ngSubmit)="onRequest()" >
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input formControlName = "CorreoUsuario"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escriba su correo." minlength="10" required>
        
            </div>
        
            <button  class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="emailForm.invalid" >Solicitar</button>
            </form>
        </div>
      </div>
    </div>

    <!-- Modal HTML -->
    <ng-template #myModal let-modal id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="fa fa-check"></i>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body text-center">
          <h4>¡Genial!</h4>	
          <p>{{message}}</p>
          <button class="btn btn-success" data-dismiss="modal"  [routerLink]="['/home']" (click)="closeModal()"><span>Seguir navengando</span> <i class="fa fa-chevron-right" style="margin-top:0.3rem;"></i></button>
        </div>
      </div>
    </div>
    </ng-template>     

  </div>
</div>
