 <div class="container" >
        <div class="row row-30">
          <div class="col-md-12">
            <br>
            <p>Contáctenos y le responderemos dentro de las 24 horas.</p>
              <!-- Rights-->
              <p class="rights"><span>©  </span><span class="copyright-year">{{year}}</span><span> </span><span>{{getGenericDataByKey('nombre-empresa')}}</span><span>. </span><span>Todos los derechos reservados. - All rights reserved.</span></p>

            <h5>Contactos</h5>
            <dl class="contact-list">
              <dt>Dirección:</dt>
              <dd>{{ getGenericDataByKey('direccion-empresa')}}</dd>
              <app-map [latitude]="latitude" [longitude]="longitude"></app-map>
            </dl>
            <dl class="contact-list">
              <dt>Correo:</dt>
              <dd><a href="mailto:#" id="email">{{ getGenericDataByKey('correo-electronico')}}</a></dd>
            </dl>
            <dl class="contact-list">
              <dt>Teléfonos:</dt>
              <dd> <a href="tel:#" id="telefono">{{ getGenericDataByKey('telefono-primario')}}</a>
              </dd>
              <dd> <a href="tel:#" id="telefono">{{ getGenericDataByKey('telefono-secundario')}}</a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="https://www.facebook.com/profile.php?id=100008462149450"><span class="icon mdi mdi-facebook"></span><span>
            <img src="{{fileserver}}/facebook.png" alt="Generic placeholder image" alt="Generic placeholder image" >
        </span></a></div>
        <div class="col"><a class="social-inner" href="https://www.instagram.com/constructoramejiapolanco/?hl=es-la"><span class="icon mdi mdi-instagram"></span>
          <img src="{{fileserver}}/instagram.png" alt="Generic placeholder image" alt="Generic placeholder image" >
        </a></div>
        <div class="col"><a class="social-inner" href="https://twitter.com/FranklynAMP"><span class="icon mdi mdi-twitter"></span><span>
            <img src="{{fileserver}}/twitter.png" alt="Generic placeholder image" alt="Generic placeholder image" >
        </span></a></div>
        <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>
            <img src="{{fileserver}}/linkedin.png" alt="Generic placeholder image" alt="Generic placeholder image" >
        </span></a></div>
</div>
