/* Cambiar el color de las letras */

#navbar {
  background-color: #FFFF
}

.navbar-nav li a {
    color: #2c2a22;
    font-size: 16px;
    font-family: Century Gothic;
  }
  
  .register-btn{
    background-color: #1201CC;
    color: white;
    font-weight: bold;
  }

  #user-options{

  }

  .login-btn{
    background-color: #BD2F01 ;
    color: white;
    font-weight: bold;
  }
 

  a:link, a:visited, a:active {
    text-decoration:none;
  }

  .dropdown-menu li {
    color: white;
  }

  #logotitulo{
    color: #BD2F01;
    font-weight: bold; 
    }

  .dropdown-menu  li a {
    
    margin-left: 25px;
  }

  .container-fluid{
    margin: 0;
    padding-right: 2px;
    
  }
#navwrap {
background:white;
box-shadow: 0 5px 3px -3px rgba(0,0,0,.3);

}

  .navbar-light .navbar-nav .nav-link:hover {
  color:#BD2F01;
  }

  .contenedorh{
    position: relative; 
    }
  

    
header{
    width: 100%;
    }

    .contenedorh .navbar-light .navbar-nav .nav-link{
        position: relative;
        }

/* Media queries */

@media screen and (max-width:800px){
  #navwrap{
    background: white
  }
  #navbarSupportedContent{
    background: white

  }

  #menu{
    padding-right:-1200px;
    margin-right: -1200px;
    
  }
  
}
        