/* Cambiar el color de las letras */


.navbar-nav li a {
    color: white;
  }
  
  .dropdown-menu {
    background-color: #17a2b8;
  }

  .dropdown-menu  li a {
    
    margin-left: 25px;
  }
  .navbar-light .navbar-nav .nav-link:hover {
  color:#17a2b8;
  }

  .contenedorh{
    position: relative;
    }

    
header{
    width: 100%;
    }

    .contenedorh .navbar-light .navbar-nav .nav-link{
        position: relative;
        }

/* Media queries */

@media screen and (max-width:800px){
  nav{
    background: black;
  }
  #navbarSupportedContent{
    background: black;


  }
}
        