/* Cambiar el color de las letras */


.navbar-nav li a {
    color: white;
    font-size: 16px;
  }
  
  .dropdown-menu {
    background-color: #17a2b8;
  }

  #logotitulo{
    color: #edbb00;
    font-weight: bold; 
    }

  .dropdown-menu  li a {
    
    margin-left: 25px;
  }

  .container-fluid{
    margin: 0;
    padding-right: 2px;
    
  }
nav {
    color:linear-gradient(to bottom, #2c2a22  0%, #2c2a22 100%);
    margin: 0;
    padding: 0;
    

    }

  .navbar-light .navbar-nav .nav-link:hover {
  color:#edbb00;
  }

  .contenedorh{
    position: relative; 
    }
  

    
header{
    width: 100%;
    }

    .contenedorh .navbar-light .navbar-nav .nav-link{
        position: relative;
        }

/* Media queries */

@media screen and (max-width:800px){
  nav{
    background: linear-gradient(to bottom, #2c2a22  0%, #2c2a22 100%);
  }
  #navbarSupportedContent{
    background: linear-gradient(to bottom, #2c2a22  0%, #2c2a22 100%);


  }

  #menu{
    padding-right:-1200px;
    margin-right: -1200px;
    
  }
}
        