<div class="contenedorh">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navwrap">
      <div class="container">
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand" id="logotitulo" routerLink="/home">
            <img src="{{fileserver}}/logo.jpeg" width="135" height="125" alt="">
        </a>
      
        <div class="collapse navbar-collapse justify-content-between menu" id="navbarSupportedContent">
            <ul class="navbar-nav ml-2">
                  
              <li class="nav-item " >
                <a class="nav-link" id="nav-sobrenosotros" [routerLink]="['/home']" fragment="sobrenosotros" >Nosotros</a>
              </li>
              
              <li class="nav-item ">
                <a class="nav-link"id="nav-foro"  [routerLink]="['/proyectos']">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nav-solicitarservicios" [routerLink]="['/home']" fragment="herramientas" >Servicios</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" id="nav-solicitarservicios"  routerLink="/calculadora">Calculadora</a>
                </li>
              <li class="nav-item ">
                <a class="nav-link"id="nav-foro"  [routerLink]="['/foro']">Foro</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" id="nav-blog"  [routerLink]="['/blog']">Blog</a>
              </li>
              
              <li class="nav-item ">
                <a class="nav-link" id="nav-contacto" [routerLink]="['/home']" fragment="contacto" >Contacto</a>
              </li>
            </ul>
            <ul class="navbar-nav" style="margin-right: 10px"   >
              <li *ngIf="!(isLoggedIn | async)" class="nav-item">
                <a class="btn login-btn text-white ml-1" id="iniciarsesion" aria-expanded="false" routerLink="/login" routerLinkActive=""> Iniciar sesión</a>
              </li>
              
              <li *ngIf="(isLoggedIn | async)" id="user-options" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, {{NombreUsuario}} <b class="caret"></b></a>
                <ul class="dropdown-menu text-white">
                    <li class="text-white"><a routerLink="/perfil"><i class="fa fa-user"></i> Perfil</a></li>
                    <li><a href="assets/ManualdeUsuario.pdf" download><i class="fa fa-question"></i> Manual</a></li>
                    <li class="divider"></li>
                    <li *ngIf = "roleID == 1"><a href="{{urlAdmin}}"><i class="fa fa-cog"></i> Administrar</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a routerLink="" (click)="onLogout()" ><i class="fa fa-sign-out-alt"></i> Cerrar sesión</a></li>
                </ul>
              </li>
              
              <div class="nav-item" style="margin-left:10px"></div>

              <li *ngIf="!(isLoggedIn | async)" class="nav-item "  >
                <a class="btn register-btn text-white ml-1" aria-expanded="false" routerLink="/registry" routerLinkActive="active">Registrarse</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
  

</div>