body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    padding-bottom: 0px;
  }

  header {
    background: linear-gradient(to bottom, #2c2a22  0%, #2c2a22 100%);
    padding: 20px;
  }

h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center; 
  }
  
  div.validation-error{
      width: 100%;
      margin-top: .25rem;
      font-size: 80%;
      color: #dc3545;
  
  }

  /* .resultado{
      text-align: center;
  } */

  .resultado{
      display: inline;
      padding-left: 5px;
  }
  .cuota p{
      font-weight: bold;
      display: inline;
  }

  p{
      display: inline;
  }
  
  select.ng-touched.ng-invalid{
      border-radius: .3rem;
      border-color: #dc3545;
  }
  
  input.ng-touched.ng-invalid{
      border-radius: .3rem;
      border-color: #dc3545;
  }
  
  
  
  /* Inmueble */
  
  .card-inmueble {
      border: 0;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
    
    .card-inmueble .card-title {
      margin-bottom: 25px;
      font-weight: 300;
      font-size: 30px;
      
    }
    
    .card-inmueble .card-img-left {
      width: 100%;
      /* Link to your background image using in the property below! */
      background: scroll center url('src\assets\calculadora.jpg');
      background-size: cover;
    }
    
    .card-inmueble .card-body {
      width:1000px ;
      height:800px ;
    }
    
    .form-inmueble {
      width: 100%;
    }
    
    .btn {
      font-size: 80%;
      border-radius: 5rem;
      letter-spacing: .1rem;
      font-weight: bold;
      padding: 1rem;
      margin-left: 55px;
      transition: all 0.2s;
      width: 250px;
      top: 40px;
      margin-top: 35px;
      background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    }
  
    .btn-primary {
      color: #fff;
      background-color: #fff;
      border-color: #fff;
  }
    
    .form-label-group {
      position: relative;
      margin-bottom: 1rem;
    }
    
    .form-label-group input {
      height: auto;
      /* border-radius: 2rem; */
    }
    
    .form-label-group>input,
    .form-label-group>label {
      padding: var(--input-padding-y) var(--input-padding-x);
    }
    
    .form-label-group>label {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-bottom: 0;
      /* Override default `<label>` margin */
      line-height: 1.5;
      color: #495057;
      border: 1px solid transparent;
      /* border-radius: .25rem; */
      transition: all .1s ease-in-out;
    }
  
    
    .form-label-group input::-webkit-input-placeholder {
      color: transparent;
    }
    
    .form-label-group input:-ms-input-placeholder {
      color: transparent;
    }
    
    .form-label-group input::-ms-input-placeholder {
      color: transparent;
    }
    
    .form-label-group input::-moz-placeholder {
      color: transparent;
    }
    
    .form-label-group input::placeholder {
      color: transparent;
    }
    
    .form-label-group input:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);
    }
    
    .form-label-group input:not(:placeholder-shown)~label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      color: #777;
    }
  
  
    .form-row .form-control{
      width: 300px;
    }
    .form-row{
        position: relative;
        left: 40px;
        bottom: -20px;
    }
  
    div.info{
      width: 100%;
      margin-top: .25rem;
      font-size: 80%;
      color: #dc3545;
  
  }
  
  @media screen and (max-width:800px){
      .card-inmueble .card-body {
          padding: 2rem;
          width:400px ;
          height:600px ;
        }
  
        label{
          position: relative;
          left: -40px;
          width: 200px;
  
        }
  
        .form-row .form-control{
          position: relative;
          width: 200px;
          left: -40px;
        }
  
        
      
    }
   
  