header {
    background: linear-gradient(to bottom, #2c2a22  0%, #2c2a22 100%);
    padding: 20px;
  }

  #titulo{
    font-size: 70px;
  }

  #card{
    border: 0; 
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  #cardsolicitud{
   width: 900px;
   margin-left: -280px;
  }

  body {
    /* background: #007bff; */
    /* background: linear-gradient(to right, rgb(237, 229, 116), rgb(225, 245, 196)); */
    margin-top: -24px;
  }

label{
    margin-left: 300px;
    margin-top: 30px;
  }

#ame{
  margin-left: 0;
  font-size: 20px;
  font-weight: bold; 

}

#ecar{
  padding-top: 20px;
  font-size: 20px;
}

#caracteristicas #titulo{
  padding-top: 20px;
}

#seguridad #titulo{
  padding-top: 20px;
}
#distribucion #titulo{
  padding-top: 20px;
}

#otros #titulo{
  padding-top: 20px;
}



#general #titulo{
  padding-top: 20px;
}

#desapart #titulo{
  padding-top: 20px;
}

#inmuebles h5{
  padding-top: 20px;
}

#card-map{
  margin-left: 1000px;
  margin-top:-1740px;
 
}
 