<header>
    <app-navbar></app-navbar>
  </header>
  <br>
  <body>
    
    <section id="proyectos">
        <h5 class="card-title text-center" id="titulo">{{data?.nombreProyecto}}</h5>
        <img height="550" weight="550" id="imagenproyecto" src="../../../../assets/Recursos/{{data?.imgURL}}"  class="d-block w-100" alt="projects">
        <div id="contenido" class="card">

            <div id="iconofecha"><img src="assets/calendar.png"></div>
            <label id="subtitulo">Fecha de Termino</label>
            <br>
            <label id="box">» {{data?.fechaTerminacion | date:'dd/MM/yyyy'}}</label>
            <br>
            <div id="iconodireccion"><img src="assets/home.png"></div>
            <label id="subtitulo">Dirección</label>
            <br>
            <label id="box">» {{data?.direccion}}</label>
            
        </div>

        <div *ngIf = "distribucion?.length > 0" id="distribucion">
          <div id="iconodireccion"><img src="assets/ruler.png"></div>
          <label id="subtitulo" >Distribución</label>
          <div *ngFor = "let d of distribucion">
            <!-- <label>{{d.caracteristica?.carNombre}}</label> -->
 
            <label id="box">» {{d.caracteristica?.carDescripcion}}</label>
          </div>
        </div>

        <div *ngIf = "otros?.length > 0" id="otros">
            <div id="iconodireccion"><img src="assets/aparment.png"></div>
            <label id="subtitulo" >Características</label>
            <div *ngFor = "let o of otros" id="caracteristicas">
              <!-- <label id="titulo">{{o.caracteristica?.carNombre}}</label> -->
 
              <label id="box">» {{o.caracteristica?.carDescripcion}}</label>
            </div>
        </div>

        <div *ngIf = "seguridad?.length > 0" id="seguridad">
            <div id="iconodireccion"><img src="assets/locked.png"></div>
            <label id="subtitulo" >Seguridad</label>
            <div *ngFor = "let s of seguridad">
              <!-- <label>{{s.caracteristica?.carNombre}}</label> -->
        
              <label id="box">» {{s.caracteristica?.carDescripcion}}</label>
            </div>
        </div>

        <br>

        <div *ngIf = "amenidades?.length > 0" id="amenidades">
            <div id="iconodireccion"><img src="assets/bbq.png"></div>
            <label id="subtitulo" >Amenidades</label>
            <div *ngFor = "let a of amenidades">
              <!-- <label>{{a.caracteristica?.carNombre}}</label> -->
 
              <label id="box">» {{a.caracteristica?.carDescripcion}}</label>
            </div>
        </div>

        <div *ngIf = "descripcionG?.length > 0" id="general">
          <div id="iconodireccion"><img src="assets/home1.png"></div>
          <label id="subtitulo">Descripción General</label>
          <div *ngFor = "let dg of descripcionG ">
          <!-- <label>{{dg.caracteristica?.carNombre}}</label> -->
          <br>
          <label id="box">{{dg.caracteristica?.carDescripcion}}</label>
          </div>
        </div>

        <div *ngIf = "descripcionA?.length > 0" id="desapart">
            <div id="iconodireccion"><img src="assets/building-with-big-windows.png"></div>
          <label id="subtitulo" >Descripción de Apartamentos</label>
          <div *ngFor = "let da of descripcionA ">
          <!-- <label>{{da.caracteristica?.carNombre}}</label> -->
          <br>
          <label id="box">{{da.caracteristica?.carDescripcion}}</label>
          </div>
        </div>


    </section>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
    <div class="row" *ngIf ="data?.inmuebles.length > 0" > 
    <div *ngFor = "let d of data?.inmuebles" class="col-md-4">
    <div class="card" style="width: 30rem;" id="card">
      <div class="card-body">
        <h5 class="card-title" id="subtitulo" >Inmueble {{d.nombreInmueble}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{d.descripcionInmueble}}</h6>
        <p class="card-text">El precio del inmueble es {{d.precio | currency: d.moneda :true:'1.2-2'}}.</p>
        <p class="card-text">{{d.cantidadHabitaciones}} habitaciones.</p>
        <p class="card-text">{{d.cantidadBanos}} baños.</p>
        <p class="card-text">{{d.cantidadParqueos}} parqueos.</p>
        <p class="card-text">Cantidad de metros cuadrados  {{d.mts}} Mts2</p>
      </div>
    </div>
  </div>
</div>    
       
<div *ngIf ="data?.inmuebles.length == 0 ">
  <h5 id="noexisteproyecto">Este proyecto no tiene ningun inmueble registrado.</h5>
</div>
<div id="pdfproyecto" *ngIf = "data?.documentoResumenPdf != ''">
  <a download href ="../../../assets/PDF/{{data.documentoResumenPdf}}">Descargar PDF informativo del proyecto</a>
</div>

<div *ngIf = "data?.imagenes.length != 0">
  <app-carousel-product
  [imagenes] = data.imagenes>
</app-carousel-product>
</div>


            <div class="card" style="width: 31rem;" id="card-map">
              <div class="card-body" id="card-m">
                  <h1 id="tituloubi">Ubicación del <span>Proyecto</span></h1>
                  <app-map [latitude]="latitude" [longitude]="longitude"></app-map>
              </div>
            </div>
  </body>
 