  <!-- Blog Post -->
  <div class="card mb-4 shadow">
    <div class="inner">
      <img class="card-img-top" src="assets/Webp.net-resizeimage (1).jpg" alt="Card image cap">
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">Publicar Título</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
      <a routerLink="/blogInfo" class="btn btn-primary">Leer más » &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Publicado en Marzo 5, 2019 por
      <a routerLink="/home">BRICK</a>
    </div>
  </div>
