.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

caption {
  font-size: 16pt;
}
.jumbotron {
  padding: 5px inherit;
}


.nav-link{
font-family: 'Open Sans', sans-serif;

}


.p {
text-align: center;
padding-top: 40px;
font-size: 13px;
}

.main #sobrenosotros {
padding-bottom: -720px;
}

.main #sobrenosotros .Contenedor{
overflow: visible;
position: relative;
bottom: -100px;
}

.main .Contenedor .foto{
width: 80%;
position: absolute;
left: 0;
top: -50px;
z-index: 0;
/* padding-top: 4%; */
}

#sobrenosotros p{
  text-align: justify;
}

#sobrenosotros .foto img{
vertical-align: top;
/* height: 20%; */
width: 100%;
/* display: block;
margin: auto; */
/* z-index: 0; */
/* box-shadow: 0px 0px 15px rgba(190, 168, 168, 0.35) */
}
/* .Contenedor .foto img{
vertical-align: top;
} */

/* ojo bajar el texto */
.main .Contenedor article{
background: #fff;
padding: 40px;
width: 50%;
position: relative;
top: 150px;
z-index: 1;
float: right;
right:30px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, .35)

/* display: block;
margin: auto;
left: 300px;
background: #fff;
padding: 40px;
width: 40%;
position: relative;
top: -250px;
z-index: 1;
box-shadow: 0px 0px 15px rgba(0, 0, 0, .35) */
}

.main .Contenedor article h3{
font-size: 40px;
font-weight: 300;
margin-bottom: 40px;


}

.main .Contenedor article p{
line-height: 28px;
margin-bottom: 30px;
}
/* 
.navbar-light .navbar-nav .nav-link{
position: relative; 
top: 200px;
} */

.main{
margin:0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 90%;
max-width: 1000px;
margin: auto;
overflow: hidden;
}



/* Segunda section */

.main #herramientas {
padding-top: 300px;
margin-left: 30px;
left: 30px;
display: inline-block;
}


/* Herramientas*/
#herramientas .Titulo{
  text-align: center;
  margin-left: 10px;
  font-weight: 300;
  font-size: 52px;
  color:#000;
  margin-bottom: 70px;
  position: relative;
} 

#herramientas .herramientas{
  text-align: center;
}

#herramientas{
  margin-bottom: 100px;
  display: block; 
}

#imageher{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}


/* Foro */

.main #foro .Contenedor2{
  overflow: visible;
  position: relative;
  bottom: -100px;
  }

  .main .Contenedor2 .foto{
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    padding-top: 4%;
    padding: left;
    }

    #foro .foto img{
      vertical-align: top;
      /* height: 20%; */
      width: 80%;
      /* display: block;
      margin: auto; */
      /* z-index: 0; */
      /* box-shadow: 0px 0px 15px rgba(190, 168, 168, 0.35) */
      }

    .main .Contenedor2 article{
      background: #fff;
      padding: 40px;
      width: 50%;
      position: relative;
      top: 200px;
      z-index: 1;
      float: right;
      right:30px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, .35)
      }

      #foro{
        margin-bottom: 200px;
        padding-bottom: 200px;

      }
      #foro p{
        text-align: justify;
      }
      .main .Contenedor2 article h3{
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 40px;
        }
        
        .main .Contenedor2 article p{
        line-height: 28px;
        margin-bottom: 30px;
        }

      /* Blog */

      .main #blog .Contenedor3{
        overflow: visible;
        position: relative;
        bottom: -100px;
        }

        #blog p{
          text-align: justify;
        }
      
        .main .Contenedor3 .foto{
          width: 80%;
          position: absolute;
          left: 0;
          top: -50px;
          z-index: 0;
          padding-top: 4%;
          padding: left;
          }
      
          #blog .foto img{
            vertical-align: top;
            /* height: 20%; */
            width: 80%;
            /* display: block;
            margin: auto; */
            /* z-index: 0; */
            /* box-shadow: 0px 0px 15px rgba(190, 168, 168, 0.35) */
            }
      
          .main .Contenedor3 article{
            background: #fff;
            padding: 40px;
            width: 50%;
            position: relative;
            top: 90px;
            z-index: 1;
            float: right;
            right:30px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .35)
            }

            #blog{
              margin-bottom: 200px;
              padding-bottom: 200px;
      
            }

            .main .Contenedor3 article h3{
              font-size: 40px;
              font-weight: 300;
              margin-bottom: 40px;
              }
              
              .main .Contenedor3 article p{
              line-height: 28px;
              margin-bottom: 30px;
              }
      
/* Footer */
/*footer*/
.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/* Esilos del carousel */

#tituloscar{
  padding-bottom: 300px;
  /* font-family: poppins; */
}

#tituloscar h2{
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
}

#tituloscar h3{
  font-size: 30px;
}

#tituloscar h2 span{
  color: #edbb00;
}

/* Media queries */

@media screen and (max-width:800px){


  .main .Contenedor .foto{
    width: 100%;
    position: relative;
    }
    .main .Contenedor article{
      position: relative;
      width: 100%;
      top:-50px;
      transform: translate(0px,0);
      left: 2px;

    }

    #sobrenosotros{
      margin-bottom: -150px;
      padding-bottom: -150px;

    }


    .main .Contenedor2 .foto{
      width: 100%;
      position: relative;
     }

     .main .Contenedor2 article{
      position: relative;
      width: 100%;
      top:-50px;
      transform: translate(0px,0);
      left: 2px;
      

    }

    #foro{
      margin-bottom: 100px;
      padding-bottom: 100px;

    }
      
    .main .Contenedor3 .foto{
      width: 100%;
      position: relative;
      }

      .main .Contenedor3 article{
        position: relative;
        width: 100%;
        top:-50px;
        transform: translate(0px,0);
        left: 2px;
  
      }

      #blog{
        margin-bottom: 100px;
        padding-bottom: 100px;
  
      }

      #foro{
        padding: 30px;
      }
      

      #sobrenosotros{
        padding: 30px;
      }
      #herramientas{
        padding: 30px;
      }

      #blog{
        padding: 30px;
      }


      #carouselExampleIndicators img{
        
        height: 24rem;

      }

      /* Esilos del carousel */

#tituloscar{
  padding-bottom: 50px;
  /* font-family: poppins; */
}

#tituloscar h2{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  animation-name: bounceInLeft;
  animation-delay: 1s;
  
}

#tituloscar h3{
  font-size: 20px;
}

#tituloscar h2 span{
  color: #edbb00;
}

}

/* 
#imaca{
  filter: blur(6px);
} */

/* Carousel imagenes */
#direccionca{
  margin-bottom: 150px;
}

#direccionca h3 {
  font-size: 55px;
  font-weight: bold;
}


#direccionca h3 span {
  color:#edbb00;
}

#btca {

  background-color: #edbb00;
  border-color: #edbb00;
}

#imaca {
  -webkit-filter: brightness(20%);
   filter:brightness(40%);

}

#fotoca {
  -webkit-filter: brightness(20%);
   filter:brightness(80%);

}