<style>.yellowtext {color: yellow;}</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!----------------------------------------------------------------------------------->
                    <!--       HEADER OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->

<header>
  <!-- This is a navbar component, now you can user navbar on any other component :) -->
  <app-navbar></app-navbar>
</header>

<!----------------------------------------------------------------------------------->
                    <!--       BODY OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------->
                            <!--       CAROUSEL       -->
<!----------------------------------------------------------------------------------->



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div *ngFor="let d of data; let i = index" class="carousel-item {{ i == 0 && 'active'}}">
      <img height="800" src="../../../../assets/Recursos/{{d.imgURL}}"  class="d-block w-100" alt="projects">
      <div class="carousel-caption d-none d-md-block">
        <a href="descripcion-proyecto/{{d.proyectoID}}"> <h1 class="withetext">{{d.nombreProyecto}}</h1></a>
          <h2><p class="withetext">{{d.direccion}}</p></h2>
        </div>
      <div class="carousel-caption d-md-block">
      </div>
    </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

<section class="main">

  <!----------------------------------------------------------------------------------->
                              <!--    SOBRE NOSOTROS     -->
  <!----------------------------------------------------------------------------------->
  
  <section  class="row featurette"  id="sobrenosotros">
  <div class="Contenedor">
      <div class="foto">
        <img src="assets/obras.jpg" alt="projects">
      </div>
      <article>
      <h3>Sobre Nosotros</h3>
      <p>Nuestra empresa se inicia en el año 2005, proporcionándole diversos servicios de la construcción a la comunidad local, como edificaciones de viviendas de uno y dos niveles. Años más tarde la empresa crece y entra a la competencia de hacer residenciales, construyendo edificios de 4 y 5 niveles. Fue fundada por el Ing. </p>
      <p> Franklyn Mejía, actual Presidente de la misma, quien se esfuerza por seguir creciendo y servir en el mercado de la construcción a la República Dominicana.</p>
      <div class="col-lg-4 text-center">
        <p><a class="btn btn-info" href="#" role="button">Acceder</a></p>
      </div>
      </article>
  
      
    </div>
    </section>
  
    
  
  <!----------------------------------------------------------------------------------->
                              <!--       servicios      -->
  <!----------------------------------------------------------------------------------->
  
  <section class="row featurette" id="herramientas">
    <div class="containermarketing" style="margin-top: 50px;">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-md-12">
          <h2 class="Titulo">Servicios</h2>
      </div>
    </div>

    
    <div class='row'>
        <div *ngFor="let s of servicio" style="margin-left:200px;">
        <div class="col-md-4 herramientas text-center">
            <img src="../../../../assets/Servicio/{{s.imgURL}}" alt="Generic placeholder image" alt="Generic placeholder image" >
            <h3 class="Primera_linea">{{s.nombreServicio}}</h3>
            <p>{{s.descripcionServicio}}</p>
            <p><a class="btn btn-info" (click)="solicitud(s)" style="width:100px;" role="button">Ver más</a></p>
        </div>
         </div>
        </div>


</div> 
</section>

<!-- -------------------------------------------------------------------------------
                               <--  FORO   -->
<!----------------------------------------------------------------------------------->

<section class="row featurette" id="foro">
  <div class="Contenedor2">
      <div class="foto">
        <img src="assets/escribiendo-computadora.jpg" alt="projects">
      </div>
      <article>
      <h3>Nuestro foro</h3>
      <p>Ven y forma parte de nuestro sitio de discusión en línea asincrónico donde las personas como tú publican mensajes alrededor de un tema del sector construcción en RD. </p>
      <div class="col-lg-4 text-center">
        <p><a class="btn btn-info" href="#" role="button">Acceder</a></p>
      </div>
      </article>
    </div>
    
  </section>



  
  <!-- -------------------------------------------------------------------------------
                                 <--  BLOG   -->
  <!----------------------------------------------------------------------------------->
    
    <section class="row featurette" id="blog">
        <div class="Contenedor3">
            <div class="foto">
              <img src="assets/blog.jpg" alt="projects">
            </div>
            <article>
            <h3>Nuesto blog</h3>
            <p>Ven, explora y mantente actualizado de las últimas novedades existentes en el sector construcción de la República Dominicana. </p>
            <div class="col-lg-4 text-center">
              <p><a class="btn btn-info" href="blog" role="button">Acceder</a></p>
            </div>
            </article>
          </div>
  
    </section>
  
  </section>
  
  <!----------------------------------------------------------------------------------->
                              <!--       FOOTER       -->
  <!----------------------------------------------------------------------------------->
  
  
  <footer class="section footer-classic context-dark bg-image" style="background: #2c2a22;">
    <app-footer></app-footer>

    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=18099655307&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>