<div *ngIf="user?.roleId === 1" class="card my-4" id="AgregarPost">
  <h5 class="card-header">Agregar un nuevo post</h5>
  <div class="card-body">
    <button type="button" class="btn btn-secondary" (click) = "add()">Agregar post</button>
  </div>
</div>
<!--ng-template #agregarPost>
    <form [formGroup] = "addForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Nuevo post</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        
        <input formControlName="tituloEntrada" type="text" class="form-control" placeholder="Insertar Título" minlength="5" maxlength="20" required>
        <div *ngIf="addForm.controls['tituloEntrada'].errors && addForm.controls['tituloEntrada'].touched" class="validation-error">
            <div [hidden] = "!addForm.controls['tituloEntrada'].errors.required">
                El campo es requerido
            </div>
            <div [hidden] = "!addForm.controls['tituloEntrada'].errors.minlength">
                El campo requiere mas de 5 caracteres  
            </div>
            <div [hidden] = "!addForm.controls['tituloEntrada'].errors.maxlength">
                El nombre debe tener menos de 20 caracteres  
            </div>
        </div>
        <textarea formControlName="textoEntrada" class="form-control" id="post" rows="3" style="margin-top: 25px;" placeholder="Agregar contenido" minlength="5"></textarea>
        <div *ngIf="addForm.controls['textoEntrada'].errors && addForm.controls['textoEntrada'].touched" class="validation-error">
            <div [hidden] = "!addForm.controls['textoEntrada'].errors.required">
                El campo es requerido
            </div>
            <div [hidden] = "!addForm.controls['textoEntrada'].errors.minlength">
                El campo requiere mas de 5 caracteres  
            </div>
        </div>
        <label for="exampleFormControlFile1" style="margin-top: 15px;">Adjuntar imagen</label>
        <input (change)="saveFileRequest($event.target.files)" formControlName="imgURL" type="file" class="form-control-file" id="exampleFormControlFile1">
          (click)="ver(agregar, agregarPost)"
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button">Descartar</button>
        <button [disabled]="addForm.invalid" class="btn btn-secondary" type="button">Agregar</button>
    </div>
  </form>
</ng-template>-->
