<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-login flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body" id="card-body">
                <h5 class="card-title text-center">Iniciar Sesión</h5>
                <form  [formGroup]="requestForm" (ngSubmit)="onLogin()" class="form-login">

                  <div class="form-row">
                      <div class="form-group">
                  <label for="inputUserame">Correo</label>
                    <input formControlName="CorreoUsuario" type="text" id="email" name="CorreoUsuario"class="form-control" placeholder="Correo"  minlength="10" maxlength="100" required autofocus>
                    <div *ngIf="requestForm.controls['CorreoUsuario'].errors && requestForm.controls['CorreoUsuario'].touched" class="validation-error">
                      <div [hidden] = "!requestForm.controls['CorreoUsuario'].errors.required">
                          El campo es requerido
                      </div>
                      <div [hidden] = "!requestForm.controls['CorreoUsuario'].errors.minlength">
                          El campo requiere mas de 10 caracteres  
                      </div>
                  </div>
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group">  
                  <label for="inputPassword">Contraseña</label>
                    <input formControlName="Contraseña" type="password" id="password" name="Contraseña" class="form-control" placeholder="Contraseña" minlength="7" ngModel required>
                    <div *ngIf="requestForm.controls['Contraseña'].errors && requestForm.controls['Contraseña'].touched" class="validation-error">
                      <div [hidden] = "!requestForm.controls['Contraseña'].errors.required">
                          El campo es requerido
                      </div>
                      <div [hidden] = "!requestForm.controls['Contraseña'].errors.minlength">
                          El campo requiere mas de 7 caracteres  
                      </div>
                  </div>
                    <!-- <label for="inputPassword">Password</label> -->
                  </div>
                </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="requestForm.invalid" type="submit">Iniciar Sesión</button>
                  <!-- <a class="d-block text-center mt-2 small" href="#">Sign In</a> -->
                  <a href="#">Olvide mi contraseña</a><br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>