<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
  <!-- This is a navbar component, now you can user navbar on any other component :) -->
  <app-navbar></app-navbar>
</header>

<body>
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-login flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Iniciar Sesión</h5>
                <form  #form="ngForm" (ngSubmit)="onLogin(form)" class="form-login">

                  <div class="form-row">
                      <div class="form-group">
                  <label for="inputUserame">Correo</label>
                    <input type="text" id="email" name="CorreoUsuario"class="form-control" placeholder="Correo" ngModel required autofocus>
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group">  
                  <label for="inputPassword">Contraseña</label>
                    <input type="password" id="password" name="Contraseña" class="form-control" placeholder="Contraseña" ngModel required>
                    <!-- <label for="inputPassword">Password</label> -->
                  </div>
                </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesión</button>
                  <!-- <a class="d-block text-center mt-2 small" href="#">Sign In</a> -->
                  <a href="#">Olvide mi contraseña</a><br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>