/* :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
   */

   body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    padding-bottom: 52px;
  }
  .card-login {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-login .card-title {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 30px;
    
  }
  
  .card-login .card-img-left {
    width: 50%;
    /* Link to your background image using in the property below! */
    background: scroll center url('/assets/pasillo.jpg');
    background-size: cover;
  }
  
  .card-login .card-body {
    width: 500px; 
    height:550px;
  }
  
  .form-login {
    width: 100%;
  }
  
  .form-login .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    margin-left: 55px;
    margin-top:40px;
    transition: all 0.2s;
    width: 250px;
    top: 20px;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
  }
  .btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    /* border-radius: 2rem; */
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width:80%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    /* border-radius: .25rem; */
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .form-row .form-control{
    width: 300px;
  }
  .form-row{
      position: relative;
      left: 40px;
      bottom: -20px;
  }

  a{
    display: block;
    text-align: center;
    padding-top: 30px;
    margin-left:  -50px;
  }

  div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  
  }


  /* Navbar */

  nav #menu{
    color: red;
    background: #007bff;
    background-color: #007bff;
  }