<!DOCTYPE html>
<html lang="en">
  <body> 
    <div class="header"> 
     <h1>Página de error inteligente</h1> 
    </div> 
    <div class="w3-main"> 
     <div class="agile-info"> 
      <h3>Lo sentimos</h3> 
      <h2>4<img src="assets/confused.gif" alt="image" />4</h2> 
      <p>Se produjo un error en la aplicación y no se pudo servir tu página.</p> 
      <a href="home">Ir al home</a> 
     </div> 
    </div> 
    <div class="footer-w3l"> 
     <p>&copy; <script type="text/javascript">
    document.write(new Date().getFullYear());
    </script> Constructora Mejía Polanco página de Error. Todos los derechos reservados | Diseñado por <a href="home">Constructora Mejía Polanco</a></p> 
    </div>  
   </body>
  </html>