<!DOCTYPE html>
<html lang="en">
  <body> 
    <div class="header"> 
     <h1>Página de error</h1> 
    </div> 
    <div class="w3-main"> 
     <div class="agile-info"> 
      <h2>404</h2> 
      <h3>PAGE NOT FOUND</h3> 
      <br >
      <a href="home" routerLink="/home">Ir al home</a> 
     </div> 
    </div> 
    <div class="footer-w3l" id="footer"> 
     <p>&copy; <script type="text/javascript">
    document.write(new Date().getFullYear());
    </script> Constructora Mejía Polanco página de Error. Todos los derechos reservados | Diseñado por <a href="home">Constructora Mejía Polanco</a></p> 
    </div>  
   </body>
  </html>

  <label></label>