

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Solicitud de Servicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-servicio flex-row my-5">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Solicitar Servicios</h5>
                <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="form-servicio">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputServicios">Servicio</label>
                          <input formControlName="nombreServicio" id="inputServicios" class="form-control" disabled/>
                        </div>
                      </div>

              
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comentario</label>
                        <textarea formControlName="comentario" class="form-control" id="comentario" rows="3" minlength="5" maxlength="500"></textarea>
                        <div *ngIf="requestForm.controls['comentario'].errors && requestForm.controls['comentario'].touched" class="validation-error">
                          <div [hidden] = "!requestForm.controls['comentario'].errors.required">
                              El campo es requerido
                          </div>
                          <div [hidden] = "!requestForm.controls['comentario'].errors.minlength">
                              El campo requiere mas de 5 caracteres  
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Fecha deseada para la reunion</label>
                      <div class="info">Nota: Es posible que esta no sea la fecha de reunion, pero sera tomada en cuenta la hora de pautar la cita.</div>
                      <input formControlName="fechaSol" mwlFlatpickr type="text" class="form-control" [altInput]="true"
                      [convertModelValue]="true"
                      [enableTime]="true"
                      dateFormat="Y-m-dTH:i"
                      altFormat="F j, Y H:i"
                      placeholder="Seleccione una fecha" 
                      minDate = "today" 
                      required>
                    </div>
              
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Solicitar servicio</button>
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>