<style>.yellowtext {color: yellow;}</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!----------------------------------------------------------------------------------->
                    <!--       HEADER OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->

<header>
  <div class="contenedorh">
      <nav id="menu" class="navbar navbar-expand-lg navbar-light fixed-top" style=" font-family: Georgia, 'Times New Roman', serif;" style="background: linear-gradient(to bottom, #2c2a22  0%, #2c2a22 100%); ">
          <div class="container-fluid">
              <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" id="nav-solicitarservicios" href="#solicitarservicios">Solicitar servicios</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" id="nav-herramientas" href="#">Herramientas</a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link" id="nav-sobrenosotros" href="#sobrenosotros">Sobre Nosotros</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link"id="nav-foro" href="foro">Foro</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" id="nav-blog" href="#blog">Blog</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" id="nav-contacto" href="#contacto">Contacto</a>
                  </li>
                </ul>
                <ul class="navbar-nav">
                  <li class="nav-item" style="margin-top:5px" style="margin-bottom:5px">
                    <a class="btn btn-info" aria-expanded="false" routerLink="/login" routerLinkActive="">Inicia sesión</a>
                  </li>
                  <div class="nav-item" style="margin-left:15px"></div>
                  <li class="nav-item" style="margin-top:5px" style="margin-bottom:5px">
                    <a class="btn btn-warning" aria-expanded="false" routerLink="/registry" routerLinkActive="active">Registrarse</a>
                  </li>
                </ul>
              </div>
              <div class="row" style="margin-left:3px">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              </div>
          </div>
        </nav>

  </div>
</header>

<!----------------------------------------------------------------------------------->
                    <!--       BODY OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------->
                            <!--       CAROUSEL       -->
<!----------------------------------------------------------------------------------->



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div *ngFor="let d of data; let i = index" class="carousel-item {{ i == 0 && 'active'}}">
      <img height="800" src="../../../../assets/Recursos/{{d.imgURL}}"  class="d-block w-100" alt="projects">
      <div class="carousel-caption d-none d-md-block">
          <h1 class="withetext">{{d.nombreProyecto}}</h1>
          <h2><p class="withetext">{{d.direccion}}</p></h2>
        </div>
      <div class="carousel-caption d-md-block">
      </div>
    </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

<section class="main">

<!----------------------------------------------------------------------------------->
                            <!--    SOBRE NOSOTROS     -->
<!----------------------------------------------------------------------------------->

<section id="sobrenosotros" class="row featurette"  id="sobrenosotros">
<div class="Contenedor">
    <div class="foto">
      <img src="assets/obras.jpg" alt="projects">
    </div>
    <article>
    <h3>Sobre Nosotros</h3>
    <p>Nuestra empresa se inicia en el año 2005, proporcionándole diversos servicios de la construcción a la comunidad local, como edificaciones de viviendas de uno y dos niveles. Años más tarde la empresa crece y entra a la competencia de hacer residenciales, construyendo edificios de 4 y 5 niveles. Fue fundada por el Ing. </p>
    <p> Franklyn Mejía, actual Presidente de la misma, quien se esfuerza por seguir creciendo y servir en el mercado de la construcción a la República Dominicana.</p>
    <div class="col-lg-4 text-center">
      <p><a class="btn btn-info" href="#" role="button">Acceder</a></p>
    </div>
    </article>

    
  </div>
  </section>

<!----------------------------------------------------------------------------------->
                            <!--       herramientas      -->
<!----------------------------------------------------------------------------------->

<section class="herramientas" id="herramientas">
  <div class="containermarketing" style="margin-top: 50px;">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-12">
        <h2 class="Titulo">Servicios</h2>
    </div>
  </div>

  <div class='row'>
      <div class="col-md-4 herramientas">
          <img src="assets/helmet.png" alt="Generic placeholder image" alt="Generic placeholder image" >
          <h3 class="Primera_linea">Supervisión</h3>
          <p>Mantente informado de cada detalle de la obra y sus avances con nuestro equipo altamente profesional en el ámbito de supervición de proyectos de construcción civil.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
      </div>  
      
      <div class="col-md-4 herramientas">
          <img src="assets/buildings.png" alt="Generic placeholder image" alt="Generic placeholder image" >
          <h3 class="Primera_linea">Ejecución</h3>
          <p>Siéntete conforme y confiado con nosotros a la hora de ejecutar tú proyecto de construcción civil y haz realidad tú sueño.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
      </div>    

      <div class="col-md-4 herramientas">
          <img src="assets/buildings.png" alt="Generic placeholder image" alt="Generic placeholder image" >
          <h3 class="Primera_linea">Diseño</h3>
          <p>Ven y forma parte de nuestro equipo altamente profesional para el diseño de tu proyecto de construccón civil.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
      </div>    
  </div>


</div> 
</section>

  <section class="otros" id="otros">
<!-- -------------------------------------------------------------------------------
                               <--  OTROS    -->
<!----------------------------------------------------------------------------------->


  <hr class="featurette-divider">

  <div class="row featurette">
    <div id= "foro" name="foro" class="row featurette">
      <h2 class="featurette-heading">Nuestro foro. <span class="text-muted">Ven y mantente actualizado sobre los últimos temas del sector construcción en RD.</span></h2>
      <p class="lead">Ven y forma parte de nuestro sitio de discusión en línea asincrónico donde las personas como tú publican mensajes alrededor de un tema del sector construcción en RD.</p>
      <div class="col-lg-4 text-center">
      <p><a class="btn btn-secondary" href="#" role="button">Acceder »</a></p>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="assets/foro-3.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="blog" name="blog" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Nuesto blog. <span class="text-muted">Mantente informado.</span></h2>
      <p class="lead">Ven, explora y mantente actualizado de las últimas novedades existentes en el sector construcción de la República Dominicana.</p>
      <div class="col-lg-4 text-center">
      <p><a class="btn btn-secondary" href="#" role="button">Acceder »</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="assets/customer-experience-blog-500x500.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  </section>
  <section class="blog" id="blog"></section>
  <section class="contacto" id="contacto"></section>
</section>


  <hr class="featurette-divider"> 


<!----------------------------------------------------------------------------------->
                            <!--       CONTACTO       -->
<!----------------------------------------------------------------------------------->

<div class="container-fluid">
  <div id="contacto" name="contacto" class="container-fluid bg-light">
  <h2 class="text-center">CONTACTO</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contáctenos y le responderemos dentro de las 24 horas.</p>
        <p><i class="material-icons">location_on</i> Santo Domingo, RD</p>
        <p><i class="material-icons">phone</i> (809) 530-7149</p>
        <p><i class="material-icons">email</i> constructoramejiapolanco@hotmail.com</p>
      </div>
      <!--<div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comentar" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-success pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------->
                    <!--       FOOTER OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->

<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2019 Constructora Mejia Polanco, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>