<style>.yellowtext {color: yellow;}</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!----------------------------------------------------------------------------------->
                    <!--       HEADER OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="nav-link" href="#"><img width="100" height="75" src="assets/constructora-mejia-polanco.png" alt="Compañía"/><span class="sr-only">(current)</span></a>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#solicitarservicios">Solicitar servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Herramientas</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#sobrenosotros">Sobre nosotros</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="foro">Foro</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="blog">Blog</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item" style="margin-top:5px" style="margin-bottom:5px">
                <a class="btn btn-light btn-outline-success" aria-expanded="false" routerLink="/login" routerLinkActive="">Login</a>
              </li>
              <div class="nav-item" style="margin-left:15px"></div>
              <li class="nav-item" style="margin-top:5px" style="margin-bottom:5px">
                <a class="btn btn-light btn-outline-success" aria-expanded="false" routerLink="/registry" routerLinkActive="active">Registrarse</a>
              </li>
            </ul>
              
            <!--<div class="row">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <h3><span class="label label-default">Encuentra tu casa ideal:</span></h3>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Elige el proyecto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Habitaciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Baños
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rango de precios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </ul>
              </div>
            </div>-->
          </div>
          <div class="row" style="margin-left:3px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
      </div>
    </nav>
</header>

<!----------------------------------------------------------------------------------->
                    <!--       BODY OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------->
                            <!--       CAROUSEL       -->
<!----------------------------------------------------------------------------------->

<style>.aquatext {color: red;}</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img height="500" src="assets/residencial-jariel-i-marzo-2007-julio-2008.jpg" class="d-block w-100" alt="projects">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 class="yellowtext">Residencial Jariel I</h1>
                    <h2><p class="yellowtext">Ubicado en la Calle Gaspar Polanco No. 104, Bella Vista.  Santo Domingo. D. N.</p></h2>
                  </div>
                </div>
                <div class="carousel-item">
                  <img height="500" src="assets/jariel-2.jpg" class="d-block w-100" alt="projects">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 class="aquatext">Residencial Jariel II</h1>
                    <h2><p class="aquatext">Ubicado en la Calle Vientos del Norte No.09, Buenos Aires del Mirador. Santo Domingo. D. N.</p></h2>
                  </div>
                </div>
                <div class="carousel-item">
                  <img height="500" src="assets/perpectiva-jariel-iii.jpg" class="d-block w-100" alt="projects">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 class="yellowtext">Residencial Jariel III</h1>
                    <h2><p class="yellowtext">Ubicado en la Calle José Barrientos No. 07, Los Restauradores. Santo Domingo. D.N.</p></h2>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------->
                            <!--       SERVICIOS       -->
<!----------------------------------------------------------------------------------->

<div class="container marketing" style="margin-top: 50px;">

  <!-- Three columns of text below the carousel -->
  <div id="solicitarservicios" name="solicitarservicios" class="row">
    <div class="col-lg-4 text-center">
      <img class="rounded-circle" src="assets/construction.supervisor_fa740508.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Supervisión</h2>
      <p>Mantente informado de cada detalle de la obra y sus avances con nuestro equipo altamente profesional en el ámbito de supervición de proyectos de construcción civil.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img class="rounded-circle" src="assets/home-keys-small-house-under-construction-electrical-drawings-building-home-concept-rolls-diagrams-project-78821502.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Ejecución</h2>
      <p>Siéntete conforme y confiado con nosotros a la hora de ejecutar tú proyecto de construcción civil y haz realidad tú sueño.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img class="rounded-circle" src="assets/Small.Houses.Plans.for.Affordable.Home.Construction.9.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Diseño</h2>
      <p>Ven y forma parte de nuestro equipo altamente profesional para el diseño de tu proyecto de construccón civil.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

<!----------------------------------------------------------------------------------->
                               <!--  OTROS      -->
<!----------------------------------------------------------------------------------->

  <hr class="featurette-divider">

  <div id="sobrenosotros" name="sobrenosotros" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Sobre nosotros. <span class="text-muted">Va a explotar tu mente.</span></h2>
      <p class="lead">Nuestra empresa se inicia en el año 2005, proporcionándole diversos servicios de la construcción a la comunidad local, como edificaciones de viviendas de uno y dos niveles. Años más tarde la empresa crece y entra a la competencia de hacer residenciales, construyendo edificios de 4 y 5 niveles. Fue fundada por el Ing. Franklyn Mejía, actual Presidente de la misma, quien se esfuerza por seguir creciendo y servir en el mercado de la construcción a la República Dominicana.</p>
      <div class="col-lg-4 text-center">
      <p><a class="btn btn-secondary" href="#" role="button">Ver más »</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="assets/03-259x359.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div id= "foro" name="foro" class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Nuestro foro. <span class="text-muted">Ven y mantente actualizado sobre los últimos temas del sector construcción en RD.</span></h2>
      <p class="lead">Ven y forma parte de nuestro sitio de discusión en línea asincrónico donde las personas como tú publican mensajes alrededor de un tema del sector construcción en RD.</p>
      <div class="col-lg-4 text-center">
      <p><a class="btn btn-secondary" href="#" role="button">Acceder »</a></p>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="assets/foro-3.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="blog" name="blog" class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Nuesto blog. <span class="text-muted">Mantente informado.</span></h2>
      <p class="lead">Ven, explora y mantente actualizado de las últimas novedades existentes en el sector construcción de la República Dominicana.</p>
      <div class="col-lg-4 text-center">
      <p><a class="btn btn-secondary" href="#" role="button">Acceder »</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="assets/customer-experience-blog-500x500.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">
</div>

<!----------------------------------------------------------------------------------->
                            <!--       CONTACTO       -->
<!----------------------------------------------------------------------------------->

<div class="container-fluid">
  <div id="contacto" name="contacto" class="container-fluid bg-light">
  <h2 class="text-center">CONTACTO</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contáctenos y le responderemos dentro de las 24 horas.</p>
        <p><i class="material-icons">location_on</i> Santo Domingo, RD</p>
        <p><i class="material-icons">phone</i> (809) 530-7149</p>
        <p><i class="material-icons">email</i> constructoramejiapolanco@hotmail.com</p>
      </div>
      <!--<div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comentar" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-success pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------->
                    <!--       FOOTER OF THE HOME-PAGE       -->
<!----------------------------------------------------------------------------------->

<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2019 Constructora Mejia Polanco, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>