<div class="container">
  <div class="row" style="margin-top: 10rem;">
    <div class="col-lg-10 col-xl-9 mx-auto">

      
      <div class="card card-login flex-row my-5">
        
        <div class="card-img-left d-none d-md-flex">
           <!-- Background image for card set in CSS! -->
        </div>
        <div *ngIf="!valid">
          <br>
          <br><br>
          <br><br>
          <br><br>
          
          <h2 style="margin-left: 5rem;">  {{  error}}</h2>
          <br>
          <br><br>
          <br><br>
          <br><br>
        </div>
       
        <div *ngIf="valid" class="card-body" id="card-body">
          <h5 class="card-title text-center">Cambiar contraseña</h5>
          <form  [formGroup]="requestForm" *ngIf="this.requestForm" (ngSubmit)="resetPassword()" class="form-login">

           
          <div class="form-row">
            <div class="form-group">  
            <label for="password">Nueva Contraseña</label>
              <input formControlName="password" autocomplete="off" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" minlength="7"  required>
              <div *ngIf="requestForm.hasError('required', 'password')" class="validation-error">
                <div [hidden] = "!requestForm.controls['password'].errors.required">
                    El campo es requerido
                </div>
                <div [hidden] = "!requestForm.controls['password'].errors.minlength">
                    El campo requiere mas de 7 caracteres  
                </div>
            </div>

            </div>
          </div>
          <div class="form-row">
            <div class="form-group">  
            <label for="confirmPass">Confirmar contraseña</label>
              <input formControlName="confirmPass" autocomplete="off" type="password" id="confirmPass" name="confirmPass" class="form-control" placeholder="Contraseña" minlength="7" ngModel required>
              <div *ngIf="requestForm.controls['confirmPass'].errors && requestForm.controls['confirmPass'].touched" class="validation-error">
                <div [hidden] = "!requestForm.controls['confirmPass'].errors.required">
                    El campo es requerido
                </div>
                <div [hidden] = "!requestForm.controls['confirmPass'].errors.minlength">
                    El campo requiere mas de 7 caracteres  
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="requestForm.invalid" type="submit">Cambiar contraseña</button>
            <!-- <label for="inputPassword">Password</label> -->
            </div>
          </div>

            
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>